<section class="service-description">
    <div class="container">
        <div class="tile-block service-description__grid">
            <div>
                <h1 class="h1">Оверлок</h1>
                <p class="text-body">Оверлок - это обработка краев ковровых покрытий специальными прочными
                    полипропиленовыми нитями. При
                    обметке применяются синтетические нити, подобранные в соответствии с цветом, составом ковра и
                    другими его характеристиками.</p>
                <div class="price text-body">
                    <span class="label">Стоимость услуги:</span> от <span class="val">50</span> рублей за
                    погонный метр
                </div>
                <div class="service-description__items">
                    <div class="service-description__item">
                        <img src="./images/icons/service-icon-1.svg" alt="">
                        <p class="text-body">Огромный выбор нитей, подберем на любой вкус и цвет</p>
                    </div>
                    <div class="service-description__item">
                        <img src="./images/icons/service-icon-2.svg" alt="">
                        <p class="text-body">Возможно оказания услуги на дому. Мы сами приедем к Вам</p>
                    </div>
                </div>
            </div>
            <div class="service-description__illustration">
                <img src="./images/service-overlock.png" alt="">
            </div>
        </div>
    </div>
</section>