<section class="service-pricing">
    <div class="container">
        <div class="tile-block">
            <h2 class="h2">Стоимость работ</h2>
            <div class="service-pricing__grid">
                <div class="service-pricing__item">
                    <div class="name">Демонтаж старого основания</div>
                    <div class="price">От <span class="val">100</span> руб за 1 м2</div>
                </div>
                <div class="service-pricing__item">
                    <div class="name">Установка <br> пластикового плинтуса</div>
                    <div class="price">От <span class="val">80</span> руб за п. м.</div>
                </div>
                <div class="service-pricing__item">
                    <div class="name">Укладка ковровых <br> покрытий «на скотч»</div>
                    <div class="price"><span class="val">250</span> руб за 1 м2</div>
                </div>
                <div class="service-pricing__item">
                    <div class="name">Установка <br> деревянного плинтуса</div>
                    <div class="price">От <span class="val">190</span> руб за п. м.</div>
                </div>
                <div class="service-pricing__item">
                    <div class="name">Укладка ковролина «на клей»</div>
                    <div class="price">От <span class="val">250</span> руб за 1 м2</div>
                </div>
                <div class="service-pricing__item">
                    <div class="name">Выездной оверлок</div>
                    <div class="price">От <span class="val">250</span> руб за п. м.</div>
                </div>
                <div class="service-pricing__item">
                    <div class="name">Сварка стыков ковролина</div>
                    <div class="price">От <span class="val">450</span> руб за п. м.</div>
                </div>
                <div class="service-pricing__item">
                    <div class="name">Минимальная стоимость работ</div>
                    <div class="price"><span class="val">7000</span> руб</div>
                </div>
            </div>
        </div>
    </div>
</section>