<section class="delivery-man-block">
    <div class="container">
        <div class="delivery-man-block__text">
            <h2 class="h2">Доставляем товар по всей России</h2>
            <h5 class="h5">как до отделения транспортной компании, так и до квартиры или офиса.</h5>
        </div>
        <div class="delivery-man-block__illustration">
            <img src="./images/big-exclusive-collection-desktop.png" alt=""
                 class="desktop">
            <img src="./images/big-exclusive-collection-mobile.png" alt=""
                 class=" mobile">
        </div>
    </div>
</section>