<section class="cart-main">
    <div class="container">
        <div class="cart-main__block">
            <div class="tile-block ">
                <div class="cart-main__list">
                    <div class="cart-main__list-head">
                        <div>Название товара</div>
                        <div class="price">Цена</div>
                        <div class="amount">Количество</div>
                        <div class="sum">Сумма</div>
                    </div>
                    <div class="cart-main__list-item">
                        <div class="image">
                            <img src="./images/catalog/1.png" alt="">
                        </div>
                        <div class="about">
                            <h6 class="h6">Ковролин Condor Vitesse (Витес) 156</h6>
                            <p class="text-secondary">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley
                            </p>

                        </div>
                        <div class="price h5">1000 ₽</div>
                        <div class="amount">
                            <div class="counter" data-value="1" data-suffix="м²">
                            </div>
                        </div>
                        <div class="sum h5">
                            <div class="sum-mobile-label text-secondary">Сумма:</div>
                            <div class="sum-val">
                                1000 ₽
                            </div>
                        </div>
                        <div class="delete">
                            <a href="#" class="trash-link">
                                <svg width="39" height="39" viewBox="0 0 39 39" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.4058 16.4731L21.8669 16.4171L21.5332 25.4543L23.0722 25.51L23.4058 16.4731Z"
                                          fill="currentColor"/>
                                    <path d="M20.4306 16.4449H18.8906V25.4822H20.4306V16.4449Z" fill="currentColor"/>
                                    <path d="M17.7867 25.454L17.453 16.4168L15.9141 16.4729L16.2477 25.51L17.7867 25.454Z"
                                          fill="currentColor"/>
                                    <path d="M10.498 12.6776V14.205H12.1027L13.3757 28.5533C13.4106 28.9476 13.7435 29.25 14.1426 29.25H25.1531C25.5522 29.25 25.8853 28.9473 25.92 28.553L27.193 14.205H28.8236V12.6776H10.498ZM24.4478 27.7226H14.8477L13.6486 14.205H25.6472L24.4478 27.7226Z"
                                          fill="currentColor"/>
                                    <path d="M22.1771 9.74994H17.1466C16.439 9.74994 15.8633 10.3209 15.8633 11.0228V13.4412H17.4032V11.2773H21.9205V13.4412H23.4604V11.0228C23.4604 10.3209 22.8847 9.74994 22.1771 9.74994Z"
                                          fill="currentColor"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="cart-main__list-item">
                        <div class="image">
                            <img src="./images/catalog/2.png" alt="">
                        </div>
                        <div class="about">
                            <h6 class="h6">Ковролин Condor Vitesse (Витес) 156</h6>
                            <p class="text-secondary">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley
                            </p>

                        </div>
                        <div class="price h5">3180 ₽</div>
                        <div class="amount">
                            <div class="counter" data-value="1" data-suffix="м²">
                            </div>
                        </div>
                        <div class="sum h5">
                            <div class="sum-mobile-label text-secondary">Сумма:</div>
                            <div class="sum-val">
                                3180 ₽
                            </div>
                        </div>
                        <div class="delete">
                            <a href="#" class="trash-link">
                                <svg width="39" height="39" viewBox="0 0 39 39" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.4058 16.4731L21.8669 16.4171L21.5332 25.4543L23.0722 25.51L23.4058 16.4731Z"
                                          fill="currentColor"/>
                                    <path d="M20.4306 16.4449H18.8906V25.4822H20.4306V16.4449Z" fill="currentColor"/>
                                    <path d="M17.7867 25.454L17.453 16.4168L15.9141 16.4729L16.2477 25.51L17.7867 25.454Z"
                                          fill="currentColor"/>
                                    <path d="M10.498 12.6776V14.205H12.1027L13.3757 28.5533C13.4106 28.9476 13.7435 29.25 14.1426 29.25H25.1531C25.5522 29.25 25.8853 28.9473 25.92 28.553L27.193 14.205H28.8236V12.6776H10.498ZM24.4478 27.7226H14.8477L13.6486 14.205H25.6472L24.4478 27.7226Z"
                                          fill="currentColor"/>
                                    <path d="M22.1771 9.74994H17.1466C16.439 9.74994 15.8633 10.3209 15.8633 11.0228V13.4412H17.4032V11.2773H21.9205V13.4412H23.4604V11.0228C23.4604 10.3209 22.8847 9.74994 22.1771 9.74994Z"
                                          fill="currentColor"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="cart-main__list-item">
                        <div class="image">
                            <img src="./images/catalog/3.png" alt="">
                        </div>
                        <div class="about">
                            <h6 class="h6">Ковролин Condor Vitesse (Витес) 156</h6>
                            <p class="text-secondary">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley
                            </p>

                        </div>
                        <div class="price h5">3180 ₽</div>
                        <div class="amount">
                            <div class="counter" data-value="1" data-suffix="м²">
                            </div>
                        </div>
                        <div class="sum h5">
                            <div class="sum-mobile-label text-secondary">Сумма:</div>
                            <div class="sum-val">
                                3180 ₽
                            </div>
                        </div>
                        <div class="delete">
                            <a href="#" class="trash-link">
                                <svg width="39" height="39" viewBox="0 0 39 39" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.4058 16.4731L21.8669 16.4171L21.5332 25.4543L23.0722 25.51L23.4058 16.4731Z"
                                          fill="currentColor"/>
                                    <path d="M20.4306 16.4449H18.8906V25.4822H20.4306V16.4449Z" fill="currentColor"/>
                                    <path d="M17.7867 25.454L17.453 16.4168L15.9141 16.4729L16.2477 25.51L17.7867 25.454Z"
                                          fill="currentColor"/>
                                    <path d="M10.498 12.6776V14.205H12.1027L13.3757 28.5533C13.4106 28.9476 13.7435 29.25 14.1426 29.25H25.1531C25.5522 29.25 25.8853 28.9473 25.92 28.553L27.193 14.205H28.8236V12.6776H10.498ZM24.4478 27.7226H14.8477L13.6486 14.205H25.6472L24.4478 27.7226Z"
                                          fill="currentColor"/>
                                    <path d="M22.1771 9.74994H17.1466C16.439 9.74994 15.8633 10.3209 15.8633 11.0228V13.4412H17.4032V11.2773H21.9205V13.4412H23.4604V11.0228C23.4604 10.3209 22.8847 9.74994 22.1771 9.74994Z"
                                          fill="currentColor"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-main__total">
            <div class="tile-block">
                <div class="cart-main__total-grid">
                    <h2 class="h2">Общая стоимость</h2>
                    <div class="detail-list-item">
                        <div class="name">Товаров</div>
                        <div class="val"><span class="h4" id="total-amount">3</span> шт.</div>
                    </div>
                    <div class="detail-list-item">
                        <div class="name">Всего товаров на сумму</div>
                        <div class="val"><span class="h4" id="total-price">9 580</span> руб.</div>
                    </div>
                </div>
                <div class="cart-main__total-illustration">
                    <img src="./images/cart-total-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>