.catalog-main {
  .tile-block {
    margin-bottom: 0;
    @media(max-width: 1023px) {
      padding-top: 20px;
    }
  }

  &__filters {
    .mobile-filter {

      .filters-btn {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 12px;
        color: #112234;
        background: #FFFFFF;
        border-bottom: 1px solid #F6F4F4;
        padding-bottom: 12px;

        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 1.3px;

        .arrow {
          margin-left: auto;
          opacity: .6;
        }

        &:hover {
          color: #F6CE45;
          opacity: 1;
        }
      }

      @media(min-width: 1024px) {
        display: none;
      }
    }

    .tab-nav {
      margin-bottom: 40px;
      @media(max-width: 1023px) {
        display: none;
      }
    }

    .filters-row {
      display: flex;
      align-items: flex-start;
      gap: 30px;
      margin-bottom: 39px;

      .select2 {
        display: block;
        min-width: 215px;
      }

      .results {
        margin-left: auto;
        align-self: flex-end;
        padding-bottom: 12px;
      }

      @media(max-width: 1023px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 20px;

        .filter-btn-block {
          display: none;
        }
        .select2 {
          width: 100%;
          min-width: auto;
        }
        .results {
          grid-column: span 2;
          margin-left: 0;
          padding-bottom: 0;

          .h6 {
            margin-right: 6px;
          }
        }
      }
    }

    .filter-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #112234;
      background: #FFFFFF;
      height: 52px;
      width: 52px;
      border: 1px solid #F6F4F4;
      border-radius: 2px;

      &:hover {
        color: #F6CE45;
        border-color: #F6CE45;
      }

      &:active {
        background: #112234;
        border-color: #112234;
        color: white;
      }
    }
  }

  .catalog-item-grid {
    margin-bottom: 60px;

    .catalog-item {
      margin-bottom: -20px;

      &__cover {
        margin-bottom: 0;
      }

      &__description {
        margin-top: -100px;
        padding-bottom: 20px;

        .price {
          margin-top: 10px;
        }
      }

      @media(max-width: 1023px) {
        margin-bottom: 0;
        &__cover {

        }
        &__description {
          margin-top: -40px;

          .price {
            margin-top: 23px;
          }
        }
      }
    }

    @media(max-width: 1023px) {
      margin-bottom: 35px;
    }
  }

  .show-more-btn {
    width: 367px;
    @media (max-width: 1023px) {
      width: 100%;
    }
  }
}