.faq {
  position: relative;
  padding-bottom: 80px;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 340px;
    background: #F6CE45;
  }

  .tile-block {
    overflow: hidden;
    margin-bottom: 0;

    .h1 {
      margin-bottom: 24px;
    }
  }

  .illustration {
    @include mediaIllustrationsDisplay;

    img {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
  }

  &__list {
    margin-bottom: 41px;
    @media(max-width: 1023px) {
      margin-bottom: 35px;
    }
  }

  &__item {
    position: relative;
    z-index: 5;
    &:not(:last-child) {
      border-bottom: 1px solid #CDCCBF;
    }

    .question {
      position: relative;
      margin-left: -42px;
      border-left: 4px solid transparent;
      color: rgba(35, 37, 36, .7);
      padding: 17px 36px;
      transition: all .2s;
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        background: url("../images/icons/chevron-black.svg");
        right: 37px;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        width: 24px;
        height: 24px;
        opacity: .54;
      }

      &[aria-expanded=true] {
        padding: 12px 36px;

        &:after {
          transform: translateY(-50%) rotate(180deg);
          opacity: 1;
        }
      }

      &[aria-expanded=true],
      &:hover {
        border-color: #F6CE45;
        color: #112234;

        &:after {
          opacity: 1;
        }
      }
    }

    .answer {
      padding: 10px 40px 16px 0;
    }

    @media(min-width: 1024px) {
      max-width: 66.9%;
    }
    @media (max-width: 1023px) {
      .question {
        margin-left: -20px;
        padding: 18px 25px 19px 17px;
        letter-spacing: 1.2px;

        &:after {
          right: 0;
        }

        &[aria-expanded=true] {
          padding: 12px 25px 12px 17px;
        }
      }
      .answer {
        padding: 10px 0 14px;
      }
    }
  }

  &__actions {
    position: relative;
    z-index: 5;
    display: grid;
    grid-template-columns: 258px 330px;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    align-items: center;

    .button {
      width: 100%;
      height: 52px;
    }

    .h6 {
      margin-bottom: 0;

      a {
        color: #F6CE45;
        text-decoration: underline;

        &:hover {
          color: #F4C628;
        }
      }
    }

    @media(max-width: 1023px) {
      grid-template-columns: 100%;
      margin-bottom: 20px;
      .button {
        height: 50px;
      }
      .h6 {
        max-width: 40%;
      }
    }
  }

  @media (max-width: 1023px) {
    padding-bottom: 60px;
    &:after {
      height: 320px;
    }
    .tile-block {
      .h1 {
        margin-bottom: 20px;
      }
    }
  }
}