.product-additional {
  margin-bottom: 60px;

  .h2 {
    margin-bottom: 40px;
    color: #112234;
  }

  .catalog-item-grid {
    grid-template-columns: repeat(4, calc(25% - 23px));
    grid-column-gap: 30px;
  }

  .catalog-slider {
    margin-bottom: -20px;

    @media(min-width: 1024px) {
      .owl-stage-outer {
        padding: 20px;
        margin: -20px;
        width: calc(100% + 40px);
      }
    }
  }

  @media(max-width: 1023px) {
    margin-bottom: 40px;
    .h2 {
      margin-bottom: 20px;
    }
    .catalog-item-grid {
      grid-template-columns: repeat(2, calc(50% - 7.4px));
      grid-column-gap: 10px;
    }
    .catalog-item__description {
      margin: 0 9px;
    }
    .owl-dots {
      margin-top: 20px;
    }
  }
}