.feedback {
  &__head {
    margin-bottom: 40px;

    .h1 {
      margin-bottom: 20px;
      color: #1B1717;
    }

    .text-body {
      max-width: 735px;
      margin-bottom: 0;
      color: #6E6E6E;
    }
  }

  .feedback-slider {
    .owl-stage-outer {
      margin: -20px;
      padding: 20px;
    }
  }

  &__item {
    padding: 30px 40px 40px;
    background: #FFFFFF;
    box-shadow: 0 0 16px rgba(36, 54, 73, 0.2);
    border-radius: 20px;

    .rating {
      font-size: 20.3px;
      color: #F6CE45;
      display: flex;
      align-items: center;
      gap: 15.3px;
      margin-bottom: 20px;
    }

    .text-body {
      margin-bottom: 20px;
      color: #112234;
    }

    .user {
      display: flex;
      align-items: center;
      gap: 20px;

      .avatar {
        width: 85px;
        height: 85px;

        background: #C4C4C4;
        border-radius: 100%;
        overflow: hidden;

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .name {
        margin-bottom: 4px;
        color: #232524;
      }

      .date {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #112234;
        opacity: 0.4;
      }
    }
  }

  @media(max-width: 1023px) {
    &__head {
      margin-bottom: 20px;

      .h1 {
        font-weight: 800;
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 10px;
      }
    }
    &__item {
      border-radius: 10px;
      padding: 40px 20px 30px;

      .rating {
        font-size: 22px;
        margin-bottom: 18px;
      }

      .text-body {
        margin-bottom: 10px;
      }

      .user {
        .avatar {
          width: 65px;
          height: 65px;
        }

        .date {
          font-size: 10px;
          line-height: 12px;
        }
      }
    }
  }
}