<section class="feedback">
    <div class="container">
        <div class="feedback__head">
            <h2 class="h2">Отзывы наших клиентов</h2>
            <p class="text-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo.</p>
        </div>
        <div class="catalog-product-feedback feedback-slider owl-carousel owl-theme owl-navigation-inline owl-dots-white" id="feedback-slider">
            <div class="feedback__item">
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="text-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo.</p>
                <div class="user">
                    <div class="avatar">
                        <img src="" alt="">
                    </div>
                    <div class="user-info">
                        <div class="name h6">Натали Портман</div>
                        <div class="date">22/01/2022</div>
                    </div>
                </div>
            </div>
            <div class="feedback__item">
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="text-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo.</p>
                <div class="user">
                    <div class="avatar">
                        <img src="" alt="">
                    </div>
                    <div class="user-info">
                        <div class="name h6">Натали Портман</div>
                        <div class="date">22/01/2022</div>
                    </div>
                </div>
            </div>
            <div class="feedback__item">
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="text-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo.</p>
                <div class="user">
                    <div class="avatar">
                        <img src="" alt="">
                    </div>
                    <div class="user-info">
                        <div class="name h6">Натали Портман</div>
                        <div class="date">22/01/2022</div>
                    </div>
                </div>
            </div>
            <div class="feedback__item">
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="text-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo.</p>
                <div class="user">
                    <div class="avatar">
                        <img src="" alt="">
                    </div>
                    <div class="user-info">
                        <div class="name h6">Натали Портман</div>
                        <div class="date">22/01/2022</div>
                    </div>
                </div>
            </div>
            <div class="feedback__item">
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="text-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo.</p>
                <div class="user">
                    <div class="avatar">
                        <img src="" alt="">
                    </div>
                    <div class="user-info">
                        <div class="name h6">Натали Портман</div>
                        <div class="date">22/01/2022</div>
                    </div>
                </div>
            </div>
            <div class="feedback__item">
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="text-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo.</p>
                <div class="user">
                    <div class="avatar">
                        <img src="" alt="">
                    </div>
                    <div class="user-info">
                        <div class="name h6">Натали Портман</div>
                        <div class="date">22/01/2022</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>