<section class="product-yellow-block">
    <div class="container">
        <div class="product-yellow-block__grid">
            <div class="product-yellow-block__item">
                <div class="icon">
                    <img src="./images/product-icons/1.svg" alt="">
                </div>
                <h6 class="h6">Наша компания даёт гарантию</h6>
                <p class="text-body">на всю продукцию в соответствии с гарантией производителя</p>
            </div>
            <div class="product-yellow-block__item">
                <div class="icon">
                    <img src="./images/product-icons/2.svg" alt="">
                </div>
                <h6 class="h6">Подойдет ли Вам эта модель?</h6>
                <p class="text-body">Закажите фото в живую или приезжайте <br>
                    в наш шоурум</p>
            </div>
            <div class="product-yellow-block__item">
                <div class="icon">
                    <img src="./images/product-icons/3.svg" alt="">
                </div>
                <h6 class="h6">Выполняем весь цикл работ под ключ</h6>
                <p class="text-body">от бесплатного замера <br>
                    до вывоза мусора</p>
            </div>
        </div>
    </div>
</section>