<section class="product-card">
    <div class="container">
        <div class="tile-block">
            <div class="product-card__grid">
                <div class="slider">
                    <div id="sync1" class="owl-carousel main-carousel owl-theme">
                        <div class="item">
                            <img src="./images/catalog/1.png" alt="">
                        </div>
                        <div class="item">
                            <img src="./images/catalog/1.png" alt="">
                        </div>
                        <div class="item">
                            <img src="./images/catalog/1.png" alt="">
                        </div>
                    </div>
                    <div id="sync2" class="owl-carousel thumbs-carousel owl-theme">
                        <div class="item">
                            <img src="./images/catalog/1.png" alt="">
                        </div>
                        <div class="item">
                            <img src="./images/catalog/1.png" alt="">
                        </div>
                        <div class="item">
                            <img src="./images/catalog/1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="title">
                    <h2 class="h2">Ковролин Condor Vitesse (Витес) 156</h2>
                </div>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="description">
                    <h6 class="h6">Характеристики</h6>
                    <div class="description__list">
                        <div class="detail-list-item">
                            <div class="name">Состав ворса</div>
                            <div class="val">100% PASD</div>
                        </div>
                        <div class="detail-list-item">
                            <div class="name">Состав основы</div>
                            <div class="val">Битум</div>
                        </div>
                        <div class="detail-list-item">
                            <div class="name">Тип ворса</div>
                            <div class="val">Петлевой</div>
                        </div>
                        <div class="detail-list-item">
                            <div class="name">Область применения</div>
                            <div class="val">Ковровая плитка</div>
                        </div>
                        <div class="detail-list-item">
                            <div class="name">Общий вес</div>
                            <div class="val">4200</div>
                        </div>
                        <div class="detail-list-item">
                            <div class="name">Бренд</div>
                            <div class="val">Balta</div>
                        </div>
                    </div>
                </div>
                <div class="price">
                    <p class="price-label"><span class="label">Цена:</span> <span class="val">1 560</span> ₽ 1 м2</p>
                    <a href="#" class="cheaper-link">Нашли дешевле? Снизим цену!*</a>
                    <div class="price__actions">
                        <button class="button button--block">в корзину</button>
                        <button class="button button--block button--outline-secondary">купить в один клик</button>
                    </div>
                </div>
            </div>
            <div class="product-card__more-info" id="more-list">
                <div class="tab-nav">
                    <a href="#more1" data-toggle="collapse" class="tab-nav__item"
                       aria-expanded="true">Характеристики</a>
                    <a href="#more2" data-toggle="collapse" class="tab-nav__item">Описание</a>
                    <a href="#more3" data-toggle="collapse" class="tab-nav__item">Вызов замерщика</a>
                    <a href="#more4" data-toggle="collapse" class="tab-nav__item">Доставка и оплата</a>
                </div>
                <div>
                    <a href="#more1" data-toggle="collapse" class="mobile-collapsing-link" aria-expanded="true">Характеристики</a>
                    <div class="collapse show" id="more1" data-parent="#more-list">
                        <div class="more-info__list">
                            <div class="detail-list-item">
                                <div class="name">Состав ворса</div>
                                <div class="val">100% PASD</div>
                            </div>
                            <div class="detail-list-item">
                                <div class="name">Состав основы</div>
                                <div class="val">Битум</div>
                            </div>
                            <div class="detail-list-item">
                                <div class="name">Тип ворса</div>
                                <div class="val">Петлевой</div>
                            </div>
                            <div class="detail-list-item">
                                <div class="name">Область применения</div>
                                <div class="val">Ковровая плитка</div>
                            </div>
                            <div class="detail-list-item">
                                <div class="name">Общий вес</div>
                                <div class="val">4200</div>
                            </div>
                            <div class="detail-list-item">
                                <div class="name">Бренд</div>
                                <div class="val">Balta</div>
                            </div>
                        </div>
                    </div>
                    <a href="#more2" data-toggle="collapse" class="mobile-collapsing-link" aria-expanded="false">Описание</a>
                    <div class="collapse" id="more2" data-parent="#more-list">
                        <h6>Какой-то контент</h6>
                    </div>
                    <a href="#more3" data-toggle="collapse" class="mobile-collapsing-link" aria-expanded="false">Вызов
                        замерщика</a>
                    <div class="collapse" id="more3" data-parent="#more-list">
                        <h6>Какой-то контент</h6>
                    </div>
                    <a href="#more4" data-toggle="collapse" class="mobile-collapsing-link" aria-expanded="false">Доставка
                        и оплата</a>
                    <div class="collapse" id="more4" data-parent="#more-list">
                        <h6>Какой-то контент</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>