<div class="portfolio-item">
    <div class="portfolio-item__images">
        <div class="owl-carousel owl-theme owl-nav-absolute">
            <div>
                <img src="./images/portfolio/1.png" alt="">
            </div>
            <div>
                <img src="./images/portfolio/2.png" alt="">
            </div>
            <div>
                <img src="./images/portfolio/3.png" alt="">
            </div>
            <div>
                <img src="./images/portfolio/4.png" alt="">
            </div>
            <div>
                <img src="./images/portfolio/5.png" alt="">
            </div>
            <div>
                <img src="./images/portfolio/6.png" alt="">
            </div>
        </div>
    </div>
    <div class="portfolio-item__description">
        <h6 class="h6">Укладка ковролина на лестнице в коттеджном поселке в подмосковье</h6>
        <p class="text-body">Область применения (быт, комм, плитка) для дома / для офиса</p>
    </div>
</div>