.container {
  width: 100%;
  padding: 0 20px;
  @media(min-width: 768px) {
    max-width: 728px;
    margin: 0 auto;
  }
  @media(min-width: 1024px)and(max-width: 1199px) {
    max-width: 100%;
    margin: 0 auto;
  }
  @media(min-width: 1200px) {
    max-width: 1180px;
    margin: 0 auto;
  }
  @media(min-width: 1440px) {
    max-width: 1322px;
    margin: 0 auto;
  }
}