.form-input {
  position: relative;

  label {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B9AA81;
    margin-bottom: 6px;
    @media(max-width: 1023px) {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &.--required {
    label:after {
      content: '*';
    }
  }

  input {
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding-left: 20px;
    height: 52px;
    background: white;
    border: 1px solid white;
    border-radius: 6px;
    color: #232524;
    box-sizing: border-box;
    transition: all .2s;
    -webkit-appearance: none;

    &::placeholder {
      color: #CDCCBF;
    }

    &:focus {
      border-color: #F6CE45;
    }

    @media (max-width: 1023px) {
      height: 50px;
    }
  }

  textarea {
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding-left: 20px;
    letter-spacing: 0.1em;
    padding-top: 10px;
    background: white;
    border: 1px solid white;
    color: #232524;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all .2s;
    -webkit-appearance: none;

    &::placeholder {
      color: #CDCCBF;
    }

    &:focus {
      border-color: #F6CE45;
    }
  }

  &.--bordered {
    input,
    textarea {
      border: 1px solid #CDCCBF;
    }
  }

  .icon {
    width: 24px;
    height: 24px;
    display: none;
    position: absolute;
    right: 20px;
    top: 16px;
    z-index: 5;

    img {
      width: 100%;
    }
  }

  &:after {
    content: url("../images/icons/tick--success.svg");
    position: absolute;
    height: 18px;
    top: 16px;
    right: 20px;
    opacity: 0;
    transition: all .2s;
    z-index: 1;
  }

  &.error {
    input, textarea {
      border-color: #CA1228;
    }

    &:after {
      content: url("../images/icons/error-cross.svg");
      opacity: 1;
    }
  }

  &.--success {
    input, textarea {
      border: 1px solid #112234
    }

    &:after {
      opacity: 1;
    }
  }
}

.custom-control {
  .custom-control-label {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
  }

  .custom-control-input {
    &:focus{
      ~ .custom-control-label::before {
        border-color: #F6CE45;
        box-shadow: none;
      }
    }
    &:checked {
      ~ .custom-control-label {
        &::before {
          background: #F6CE45;
          border-color: #F6CE45;
          box-shadow: none !important;
        }

        &::after {
          box-shadow: none !important;
        }
      }
    }
  }
}
