.counter {
  position: relative;

  input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(232, 231, 223, 0.6);
    border-radius: 6px;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    height: 45px;
    position: relative;
    z-index: 2;
  }

  button {
    position: absolute;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background: transparent;
    color: #F6CE45;

    &:hover {
      color: #112234;
    }

    &.add {
      right: 10px;
    }

    &.sub {
      left: 10px;
    }
  }
  @media(max-width: 1023px){
    input{
      font-size: 13px;
      line-height: 20px;
      height: 40px;
    }
  }
}