<section class="faq">
    <div class="container">
        <div class="tile-block">
            <h1 class="h1">Часто задаваемые вопросы</h1>
            <div class="faq__list" id="faq-list">
                <div class="faq__item">
                    <div class="question h6" data-toggle="collapse" data-target="#faq1" aria-expanded="true">
                        Как происходит оплата и доставка товара?
                    </div>
                    <div class="collapse show" id="faq1" data-parent="#faq-list">
                        <div class="answer text-body">При оплате товаров покупателем в безналичной форме или продаже
                            товаров в кредит
                            (за исключением оплаты с использованием банковских платежных карт) продавец обязан
                            подтвердить
                            передачу товара путем составления накладной или акта сдачи-приемки товара». При оплате
                            наличными
                            в соответствии с Законом о ККТ продавец обязан применять контрольно-кассовую технику (далее
                            —
                            ККТ).
                        </div>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="question h6" data-toggle="collapse" data-target="#faq2" aria-expanded="false">
                        Как долго прослужит нам ковролин?
                    </div>
                    <div class="collapse" id="faq2" data-parent="#faq-list">
                        <div class="answer text-body">При оплате товаров покупателем в безналичной форме или продаже
                            товаров в кредит
                            (за исключением оплаты с использованием банковских платежных карт) продавец обязан
                            подтвердить
                            передачу товара путем составления накладной или акта сдачи-приемки товара». При оплате
                            наличными
                            в соответствии с Законом о ККТ продавец обязан применять контрольно-кассовую технику (далее
                            —
                            ККТ).
                        </div>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="question h6" data-toggle="collapse" data-target="#faq3" aria-expanded="false">
                        Нужна ли подложка под ковролин?
                    </div>
                    <div class="collapse" id="faq3" data-parent="#faq-list">
                        <div class="answer text-body">При оплате товаров покупателем в безналичной форме или продаже
                            товаров в кредит
                            (за исключением оплаты с использованием банковских платежных карт) продавец обязан
                            подтвердить
                            передачу товара путем составления накладной или акта сдачи-приемки товара». При оплате
                            наличными
                            в соответствии с Законом о ККТ продавец обязан применять контрольно-кассовую технику (далее
                            —
                            ККТ).
                        </div>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="question h6" data-toggle="collapse" data-target="#faq4" aria-expanded="false">
                        Как происходит оплата и доставка товара?
                    </div>
                    <div class="collapse" id="faq4" data-parent="#faq-list">
                        <div class="answer text-body">При оплате товаров покупателем в безналичной форме или продаже
                            товаров в кредит
                            (за исключением оплаты с использованием банковских платежных карт) продавец обязан
                            подтвердить
                            передачу товара путем составления накладной или акта сдачи-приемки товара». При оплате
                            наличными
                            в соответствии с Законом о ККТ продавец обязан применять контрольно-кассовую технику (далее
                            —
                            ККТ).
                        </div>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="question h6" data-toggle="collapse" data-target="#faq5" aria-expanded="false">
                        Как долго прослужит нам ковролин?
                    </div>
                    <div class="collapse" id="faq5" data-parent="#faq-list">
                        <div class="answer text-body">При оплате товаров покупателем в безналичной форме или продаже
                            товаров в кредит
                            (за исключением оплаты с использованием банковских платежных карт) продавец обязан
                            подтвердить
                            передачу товара путем составления накладной или акта сдачи-приемки товара». При оплате
                            наличными
                            в соответствии с Законом о ККТ продавец обязан применять контрольно-кассовую технику (далее
                            —
                            ККТ).
                        </div>
                    </div>
                </div>

                <div class="faq__item">
                    <div class="question h6" data-toggle="collapse" data-target="#faq6" aria-expanded="false">
                        Нужна ли подложка под ковролин?
                    </div>
                    <div class="collapse" id="faq6" data-parent="#faq-list">
                        <div class="answer text-body">При оплате товаров покупателем в безналичной форме или продаже
                            товаров в кредит
                            (за исключением оплаты с использованием банковских платежных карт) продавец обязан
                            подтвердить
                            передачу товара путем составления накладной или акта сдачи-приемки товара». При оплате
                            наличными
                            в соответствии с Законом о ККТ продавец обязан применять контрольно-кассовую технику (далее
                            —
                            ККТ).
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq__actions">
                <button class="button">Показать еще</button>
                <p class="h6">
                    Не нашли ответа на свой вопрос?
                    <a href="#">Обратитесь в поддержку</a>
                </p>
            </div>
            <div class="illustration">
                <img src="./images/faq/faq-illustration-desktop.png" alt="" class="desktop">
                <img src="./images/faq/faq-illustration-mobile.png" alt="" class="mobile">
            </div>
        </div>
    </div>
</section>