<section class="partners">
    <div class="container">
        <div class="tile-block">
            <div class="partners__grid">

                <img src="./images/partners/pik.png" alt="" class="pik">
                <img src="./images/partners/outlet.png" alt="" class="outlet">
                <img src="./images/partners/1.png" alt="" class="first">
                <img src="./images/partners/petrovich.png" alt="" class="petrovich">
                <img src="./images/partners/mega.png" alt="" class="mega">
            </div>
        </div>
    </div>
</section>