<section class="news-article">
    <div class="container">
        <div class="tile-block">
            <div class="news-article__body">
                <a href="/news.html" class="arrow-link arrow-link--secondary back-link">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M12 20L13.4 18.6L7.8 13L20 13V11L7.8 11L13.4 5.4L12 4L4 12L12 20Z"
                              fill="currentColor"/>
                    </svg>
                    Назад
                </a>
                <p class="text-secondary">22.01.2022.</p>
                <div class="article-illustration">
                    <img src="./images/landing-news/1.png" alt="">
                </div>
                <h1 class="h1">Новостной заголовок</h1>
                <h5 class="h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                    ullamcorper mattis, pulvinar dapibus leo.</h5>
                <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                    nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar
                    dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                    ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>

                <div class="navigation">
                    <a href="#" class="arrow-link" disabled="">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M12 20L13.4 18.6L7.8 13L20 13V11L7.8 11L13.4 5.4L12 4L4 12L12 20Z"
                                  fill="currentColor"/>
                        </svg>
                        Предыдущая статья
                    </a>

                    <a href="#" class="arrow-link">
                        Следующая статья
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M12 4L10.6 5.4L16.2 11H4V13H16.2L10.6 18.6L12 20L20 12L12 4Z"
                                  fill="currentColor"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>