<section class="news-main">
    <div class="container">
        <div class="news-main__grid">
            <div class="news-item">
                <div class="cover">
                    <img src="./images/landing-news/1.png" alt="">
                </div>
                <div class="text">
                    <h3 class="h3">Новостной заголовок</h3>
                    <div class="tile">
                        <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
                            luctus
                            nec ullamcorper mattis, pulvinar dapibus leo.</p>
                        <p class="text-secondary">22.01.2022.</p>
                    </div>
                </div>
            </div>
            <div class="news-item">
                <div class="cover">
                    <img src="./images/landing-news/3.png" alt="">
                </div>
                <div class="text">
                    <h3 class="h3">Новостной заголовок</h3>
                    <div class="tile">
                        <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
                            luctus
                            nec ullamcorper mattis, pulvinar dapibus leo.</p>
                        <p class="text-secondary">22.01.2022.</p>
                    </div>
                </div>
            </div>
            <div class="news-item">
                <div class="cover">
                    <img src="./images/landing-news/2.png" alt="">
                </div>
                <div class="text">
                    <h3 class="h3">Новостной заголовок</h3>
                    <div class="tile">
                        <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
                            luctus
                            nec ullamcorper mattis, pulvinar dapibus leo.</p>
                        <p class="text-secondary">22.01.2022.</p>
                    </div>
                </div>
            </div>
            <div class="news-item">
                <div class="cover">
                    <img src="./images/landing-news/3.png" alt="">
                </div>
                <div class="text">
                    <h3 class="h3">Новостной заголовок</h3>
                    <div class="tile">
                        <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
                            luctus
                            nec ullamcorper mattis, pulvinar dapibus leo.</p>
                        <p class="text-secondary">22.01.2022.</p>
                    </div>
                </div>
            </div>
            <div class="news-item">
                <div class="cover">
                    <img src="./images/landing-news/2.png" alt="">
                </div>
                <div class="text">
                    <h3 class="h3">Новостной заголовок</h3>
                    <div class="tile">
                        <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
                            luctus
                            nec ullamcorper mattis, pulvinar dapibus leo.</p>
                        <p class="text-secondary">22.01.2022.</p>
                    </div>
                </div>
            </div>
            <div class="news-item">
                <div class="cover">
                    <img src="./images/landing-news/3.png" alt="">
                </div>
                <div class="text">
                    <h3 class="h3">Новостной заголовок</h3>
                    <div class="tile">
                        <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
                            luctus
                            nec ullamcorper mattis, pulvinar dapibus leo.</p>
                        <p class="text-secondary">22.01.2022.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="news-main__pagination">
            <button class="prev">
                <span></span>
            </button>
            <div class="h5"><span class="current">2</span> / 30</div>
            <button class="next">
                <span></span>
            </button>
        </div>
    </div>
</section>