<section class="about-us" id="about-us">
    <div class="container">
        <div class="about-us__grid">
            <h2 class="h1">О нас</h2>
            <div class="video">
                <iframe></iframe>
            </div>
            <div class="text">
                <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                    ullamcorper mattis, pulvinar dapibus leo.</p>
                <ul class="tick-list">
                    <li>Оверлок покрытия</li>
                    <li>Сварка швов</li>
                    <li>Монтаж/демонтаж</li>
                    <li>Раскрой</li>
                    <li>Обработка края тесьмой</li>
                    <li>....</li>
                </ul>
            </div>
        </div>
    </div>
</section>