<section class="certificates">
    <div class="container">
        <div class="tile-block">
            <h2 class="h1">Наши сертификаты</h2>
            <div class="owl-carousel owl-theme" id="certificates-slider">
                <div>
                    <img src="./images/certificate.png" alt="">
                </div>
                <div>
                    <img src="./images/certificate.png" alt="">
                </div>
                <div>
                    <img src="./images/certificate.png" alt="">
                </div>
                <div>
                    <img src="./images/certificate.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>