<section class="confidence">
    <div class="container">
        <div class="confidence__description">
            <h2 class="h1">Почему вы можете нам доверять?</h2>
            <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                ullamcorper mattis, pulvinar dapibus leo.</p>
        </div>

        <div class="confidence__grid">
            <div class="confidence__item">
                <div class="icon">
                    <img src="./images/confidence/1.svg" alt="">
                </div>
                <h6 class="h6">Разносторонний опыт</h6>
                <div class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                    nec ullamcorper mattis, pulvinar dapibus leo.
                </div>
            </div>
            <div class="confidence__item">
                <div class="icon">
                    <img src="./images/confidence/2.svg" alt="">
                </div>
                <h6 class="h6">С нами выгодно работать</h6>
                <div class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                    nec ullamcorper mattis, pulvinar dapibus leo.
                </div>
            </div>
            <div class="confidence__item">
                <div class="icon">
                    <img src="./images/confidence/3.svg" alt="">
                </div>
                <h6 class="h6">Отвечаем за качество</h6>
                <div class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                    nec ullamcorper mattis, pulvinar dapibus leo.
                </div>
            </div>
        </div>
    </div>
</section>