<section class="landing-news">
    <div class="container">
        <h2 class="h1">Новости</h2>
        <div class="landing-news__slider owl-carousel owl-theme owl-dots-white" id="news-slider">
            <div class="landing-news__item">
                <img src="./images/landing-news/1.png" alt="">
                <div class="inner">
                    <h3 class="h3">Новостной заголовок</h3>
                    <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                        nec ullamcorper mattis, pulvinar dapibus leo.</p>
                    <p class="text-secondary">22.01.2022.</p>
                </div>
            </div>
            <div class="landing-news__item">
                <img src="./images/landing-news/2.png" alt="">
                <div class="inner">
                    <h3 class="h3">Новостной заголовок</h3>
                    <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                        nec ullamcorper mattis, pulvinar dapibus leo.</p>
                    <p class="text-secondary">22.01.2022.</p>
                </div>
            </div>
            <div class="landing-news__item">
                <img src="./images/landing-news/3.png" alt="">
                <div class="inner">
                    <h3 class="h3">Новостной заголовок</h3>
                    <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                        nec ullamcorper mattis, pulvinar dapibus leo.</p>
                    <p class="text-secondary">22.01.2022.</p>
                </div>
            </div>
        </div>
    </div>
</section>