<section class="opportunities">
    <div class="container">


        <div class="opportunities__grid">
            <div class="opportunities__item">
                <div class="icon">
                    <img src="./images/opportunities/1.svg" alt="">
                </div>
                <div class="title">Бесплатная доставка</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                    ullamcorper mattis, pulvinar dapibus leo.
                </div>
            </div>
            <div class="opportunities__item">
                <div class="icon">
                    <img src="./images/opportunities/2.svg" alt="">
                </div>
                <div class="title">Замер 0 рублей</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                    ullamcorper mattis, pulvinar dapibus leo.
                </div>
            </div>
            <div class="opportunities__item">
                <div class="icon">
                    <img src="./images/opportunities/3.svg" alt="">
                </div>
                <div class="title">Рассрочка 0%</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                    ullamcorper mattis, pulvinar dapibus leo.
                </div>
            </div>
        </div>
    </div>
</section>