<section class="portfolio-preview">
    <div class="container">
        <h2 class="h1">Портфолио</h2>
        <div class="portfolio-preview__grid">
            <div class="portfolio-preview__item">
                <div class="cover">
                    <img src="./images/portfolio-preview/1.png" alt="">
                    <div class="text-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                        mattis, pulvinar dapibus leo.
                    </div>
                </div>
                <div class="description">
                    <p class="text-body">Ковровое покрытие</p>
                    <h4 class="h4">Condor Carrera</h4>
                </div>
            </div>
            <div class="portfolio-preview__item">
                <div class="cover">
                    <img src="./images/portfolio-preview/2.png" alt="">
                    <div class="text-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                        mattis, pulvinar dapibus leo.
                    </div>
                </div>
                <div class="description">
                    <p class="text-body">Ковровое покрытие</p>
                    <h4 class="h4">Condor Carrera</h4>
                </div>
            </div>
            <div class="portfolio-preview__item">
                <div class="cover">
                    <img src="./images/portfolio-preview/3.png" alt="">
                    <div class="text-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                        mattis, pulvinar dapibus leo.
                    </div>
                </div>
                <div class="description">
                    <h4 class="h4">Москва Сити. Башня Федерации. Офис.</h4>
                </div>
            </div>
        </div>
        <div class="portfolio-preview__slider owl-carousel owl-theme owl-navigation-inline owl-dots-white"
             id="portfolio-slider">
            <div class="portfolio-preview__slider__item">
                <img src="./images/portfolio-preview/slider-item-1.png" alt="">
            </div>
            <div class="portfolio-preview__slider__item">
                <img src="./images/portfolio-preview/slider-item-2.png" alt="">
            </div>
            <div class="portfolio-preview__slider__item">
                <img src="./images/portfolio-preview/slider-item-3.png" alt="">
            </div>
            <div class="portfolio-preview__slider__item">
                <img src="./images/portfolio-preview/slider-item-4.png" alt="">
            </div>
            <div class="portfolio-preview__slider__item">
                <img src="./images/portfolio-preview/slider-item-5.png" alt="">
            </div>
            <div class="portfolio-preview__slider__item">
                <img src="./images/portfolio-preview/slider-item-5.png" alt="">
            </div>
        </div>
    </div>
</section>