<section class="promo">
    <div class="container">
        <div class="promo__grid">
            <div class="owl-carousel owl-default owl-nav-absolute slider-left" id="promo-slider-left">
                <div class="slider-left__item">
                    <img src="./images/promo-slider/left-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/left-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <h2 class="h1">Идея <br>хоть куда!</h2>
                        <p class="h5">
                            *рассрочка предоставляется банком партнером Тинькофф лицензия №2673
                        </p>
                    </div>
                </div>
                <div class="slider-left__item">
                    <img src="./images/promo-slider/left-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/left-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <h2 class="h1">Идея <br>хоть куда!</h2>
                        <p class="h5">
                            *рассрочка предоставляется банком партнером Тинькофф лицензия №2673
                        </p>
                    </div>
                </div>
                <div class="slider-left__item">
                    <img src="./images/promo-slider/left-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/left-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <h2 class="h1">Идея <br>хоть куда!</h2>
                        <p class="h5">
                            *рассрочка предоставляется банком партнером Тинькофф лицензия №2673
                        </p>
                    </div>
                </div>
                <div class="slider-left__item">
                    <img src="./images/promo-slider/left-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/left-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <h2 class="h1">Идея <br>хоть куда!</h2>
                        <p class="h5">
                            *рассрочка предоставляется банком партнером Тинькофф лицензия №2673
                        </p>
                    </div>
                </div>
                <div class="slider-left__item">
                    <img src="./images/promo-slider/left-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/left-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <h2 class="h1">Идея <br>хоть куда!</h2>
                        <p class="h5">
                            *рассрочка предоставляется банком партнером Тинькофф лицензия №2673
                        </p>
                    </div>
                </div>
            </div>
            <div class="owl-carousel owl-default owl-nav-absolute slider-right" id="promo-slider-right">
                <div class="slider-right__item">
                    <img src="./images/promo-slider/right-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/right-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <div class="h4">Товар дня</div>
                        <div class="price">
                            <span class="h2 ">1 800</span> руб.
                        </div>
                        <div class="white-tile">
                            2 дня
                            <span class="bullet">&bull;</span>
                            8 часов
                        </div>
                        <button class="button">В корзину</button>
                    </div>
                </div>
                <div class="slider-right__item">
                    <img src="./images/promo-slider/right-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/right-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <div class="h4">Товар дня</div>
                        <div class="price">
                            <span class="h2 ">1 800</span> руб.
                        </div>
                        <div class="white-tile">
                            2 дня
                            <span class="bullet">&bull;</span>
                            8 часов
                        </div>
                        <button class="button">В корзину</button>
                    </div>
                </div>
                <div class="slider-right__item">
                    <img src="./images/promo-slider/right-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/right-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <div class="h4">Товар дня</div>
                        <div class="price">
                            <span class="h2 ">1 800</span> руб.
                        </div>
                        <div class="white-tile">
                            2 дня
                            <span class="bullet">&bull;</span>
                            8 часов
                        </div>
                        <button class="button">В корзину</button>
                    </div>
                </div>
                <div class="slider-right__item">
                    <img src="./images/promo-slider/right-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/right-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <div class="h4">Товар дня</div>
                        <div class="price">
                            <span class="h2 ">1 800</span> руб.
                        </div>
                        <div class="white-tile">
                            2 дня
                            <span class="bullet">&bull;</span>
                            8 часов
                        </div>
                        <button class="button">В корзину</button>
                    </div>
                </div>
                <div class="slider-right__item">
                    <img src="./images/promo-slider/right-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/right-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <div class="h4">Товар дня</div>
                        <div class="price">
                            <span class="h2 ">1 800</span> руб.
                        </div>
                        <div class="white-tile">
                            2 дня
                            <span class="bullet">&bull;</span>
                            8 часов
                        </div>
                        <button class="button">В корзину</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="promo__categories">
            <a href="#" class="promo__category-item">
                <span class="cover"><img src="./images/promo-categories/1.png" alt=""></span>
                <span class="text">Весь ковролин</span>
            </a>
            <a href="#" class="promo__category-item">
                <span class="cover"><img src="./images/promo-categories/2.png" alt=""></span>
                <span class="text">Для дома</span>
            </a>
            <a href="#" class="promo__category-item">
                <span class="cover"><img src="./images/promo-categories/3.png" alt=""></span>
                <span class="text">Для офиса </span>
            </a>
            <a href="#" class="promo__category-item">
                <span class="cover"><img src="./images/promo-categories/4.png" alt=""></span>
                <span class="text">Ковровая плитка </span>
            </a>
            <a href="#" class="promo__category-item">
                <span class="cover"><img src="./images/promo-categories/5.png" alt=""></span>
                <span class="text">Для гостиниц </span>
            </a>
            <a href="#" class="promo__category-item">
                <span class="cover"><img src="./images/promo-categories/6.png" alt=""></span>
                <span class="text">Для кафе и ресторанов</span>
            </a>
            <a href="#" class="promo__category-item">
                <span class="cover"><img src="./images/promo-categories/7.png" alt=""></span>
                <span class="text">Гимнастические ковры</span>
            </a>
            <a href="#" class="promo__category-item">
                <span class="cover"><img src="./images/promo-categories/8.png" alt=""></span>
                <span class="text">Сопутствующие товары</span>
            </a>
            <div class="owl-carousel owl-default" id="categories-slider">

            </div>
        </div>
    </div>
</section>