<section class="promo">
    <div class="container">
        <div class="promo__grid">
            <div class="owl-carousel owl-default owl-nav-absolute slider-left" id="promo-slider-left">
                <div class="slider-left__item">
                    <img src="./images/promo-slider/left-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/left-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <h2 class="h1">Идея <br>хоть куда!</h2>
                        <p class="h5">
                            *рассрочка предоставляется банком партнером Тинькофф лицензия №2673
                        </p>
                    </div>
                </div>
                <div class="slider-left__item">
                    <img src="./images/promo-slider/left-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/left-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <h2 class="h1">Идея <br>хоть куда!</h2>
                        <p class="h5">
                            *рассрочка предоставляется банком партнером Тинькофф лицензия №2673
                        </p>
                    </div>
                </div>
                <div class="slider-left__item">
                    <img src="./images/promo-slider/left-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/left-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <h2 class="h1">Идея <br>хоть куда!</h2>
                        <p class="h5">
                            *рассрочка предоставляется банком партнером Тинькофф лицензия №2673
                        </p>
                    </div>
                </div>
                <div class="slider-left__item">
                    <img src="./images/promo-slider/left-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/left-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <h2 class="h1">Идея <br>хоть куда!</h2>
                        <p class="h5">
                            *рассрочка предоставляется банком партнером Тинькофф лицензия №2673
                        </p>
                    </div>
                </div>
                <div class="slider-left__item">
                    <img src="./images/promo-slider/left-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/left-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <h2 class="h1">Идея <br>хоть куда!</h2>
                        <p class="h5">
                            *рассрочка предоставляется банком партнером Тинькофф лицензия №2673
                        </p>
                    </div>
                </div>
            </div>
            <div class="owl-carousel owl-default owl-nav-absolute slider-right" id="promo-slider-right">
                <div class="slider-right__item">
                    <img src="./images/promo-slider/right-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/right-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <div class="h4">Товар дня</div>
                        <div class="price">
                            <span class="h2 ">1 800</span> руб.
                        </div>
                        <div class="white-tile">
                            2 дня
                            <span class="bullet">&bull;</span>
                            8 часов
                        </div>
                        <button class="button">В корзину</button>
                    </div>
                </div>
                <div class="slider-right__item">
                    <img src="./images/promo-slider/right-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/right-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <div class="h4">Товар дня</div>
                        <div class="price">
                            <span class="h2 ">1 800</span> руб.
                        </div>
                        <div class="white-tile">
                            2 дня
                            <span class="bullet">&bull;</span>
                            8 часов
                        </div>
                        <button class="button">В корзину</button>
                    </div>
                </div>
                <div class="slider-right__item">
                    <img src="./images/promo-slider/right-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/right-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <div class="h4">Товар дня</div>
                        <div class="price">
                            <span class="h2 ">1 800</span> руб.
                        </div>
                        <div class="white-tile">
                            2 дня
                            <span class="bullet">&bull;</span>
                            8 часов
                        </div>
                        <button class="button">В корзину</button>
                    </div>
                </div>
                <div class="slider-right__item">
                    <img src="./images/promo-slider/right-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/right-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <div class="h4">Товар дня</div>
                        <div class="price">
                            <span class="h2 ">1 800</span> руб.
                        </div>
                        <div class="white-tile">
                            2 дня
                            <span class="bullet">&bull;</span>
                            8 часов
                        </div>
                        <button class="button">В корзину</button>
                    </div>
                </div>
                <div class="slider-right__item">
                    <img src="./images/promo-slider/right-desktop.png" alt="" class="illustration desktop">
                    <img src="./images/promo-slider/right-mobile.png" alt="" class="illustration mobile">
                    <div class="inner">
                        <div class="h4">Товар дня</div>
                        <div class="price">
                            <span class="h2 ">1 800</span> руб.
                        </div>
                        <div class="white-tile">
                            2 дня
                            <span class="bullet">&bull;</span>
                            8 часов
                        </div>
                        <button class="button">В корзину</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="promo__categories">
            <div class="promo__category-item">
                <img src="./images/promo-categories/1.png" alt="">
                <a href="#" class="text">Гостинная</a>
            </div>
            <div class="promo__category-item">
                <img src="./images/promo-categories/2.png" alt="">
                <a href="#" class="text">Гостиницы</a>
            </div>
            <div class="promo__category-item">
                <img src="./images/promo-categories/3.png" alt="">
                <a href="#" class="text">Госучреждения</a>
            </div>
            <div class="promo__category-item">
                <img src="./images/promo-categories/4.png" alt="">
                <a href="#" class="text">Для дома</a>
            </div>
            <div class="promo__category-item">
                <img src="./images/promo-categories/5.png" alt="">
                <a href="#" class="text">Кинотеатры</a>
            </div>
            <div class="promo__category-item">
                <img src="./images/promo-categories/6.png" alt="">
                <a href="#" class="text">Офисы</a>
            </div>
            <div class="promo__category-item">
                <img src="./images/promo-categories/7.png" alt="">
                <a href="#" class="text">Рестораны/Бары</a>
            </div>
            <div class="promo__category-item">
                <img src="./images/promo-categories/8.png" alt="">
                <a href="#" class="text">Больницы</a>
            </div>
        </div>
    </div>
</section>