<section class="contacts">
    <div class="container">
        <div class="tile-block">
            <div class="contacts__head">
                <h1 class="h1">Наши контакты</h1>
                <h5 class="h5">Вы можете связаться с нами любым удобным для вас способом или посетить наш шоу-рум в
                    Москве!</h5>
            </div>
            <div class="contacts__grid">
                <div class="contacts__item">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="name h3">наш шоу-рум</div>
                    <div class="text-body">Ул. Леснорядский переулок 18с6</div>
                </div>
                <div class="contacts__item">
                    <div class="icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="name h3">почта</div>
                    <div class="text-body">evrokovrolin@mail.ru</div>
                </div>
                <div class="contacts__item">
                    <div class="icon">
                        <i class="fas fa-phone-square"></i>
                    </div>
                    <div class="name h3">телефон</div>
                    <div class="text-body">+7 (495) 877-43-58</div>
                </div>
            </div>
            <div class="contacts__form">
                <h2 class="h2">Напишите нам!</h2>
                <form class="form" data-success="#callback-success-modal">
                    <div class="form-input --bordered">
                        <input type="text" name="name" id="callback-name"
                               required
                               placeholder="Имя">
                    </div>
                    <div class="form-input --bordered">
                        <input type="text" name="surname" id="callback-surname"
                               required
                               placeholder="Фамилия">
                    </div>
                    <div class="form-input --bordered">
                        <input type="text" name="mail" id="callback-mail"
                               data-inputmask="'alias':'email'" required
                               placeholder="Email">
                    </div>
                    <div class="form-input --bordered">
                        <textarea rows="7" name="message" id="callback-message"
                                  required
                                  placeholder="Ваш сообщение"></textarea>
                    </div>
                    <div class="actions">
                        <button class="button">
                            Отправить
                        </button>
                        <div class="agreement-text">Отправляя форму, вы даете <a href="#">Согласие на обработку
                            персональных
                            данных.</a></div>
                    </div>
                </form>
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2078.8310302002587!2d37.67450373009658!3d55.78398172037768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53582e18c752d%3A0x4d5bdf0b9631d955!2z0KLQntCSLiDQqNCY0J3QmNCd!5e0!3m2!1sru!2sru!4v1657800401449!5m2!1sru!2sru"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>