<section class="contacts-geo">
    <div class="container">
        <div class="contacts-geo__grid">
            <div class="video">
                <iframe></iframe>
            </div>
            <h5 class="h5">
                Видео-помощник по тому, как добраться в офис <br>
                компании "Evrokovrolin.ru" у метро Красносельская, Город Москва

            </h5>

            <div class="text">
                <h6 class="h6">Большая БЕСПЛАТНАЯ парковка!</h6>
                При посещении шоурума возможна скидка 10% <br>
                *Уточняйте при оплате
            </div>
        </div>
    </div>
</section>